.nav-tab {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    gap: 11px;
    align-items: center;
    justify-content: center;
    margin-top: 151px;
    background: #000;
    width: 100%;
    padding: 15px 0 15px 0;
}

.nav-tab__button {
    box-sizing: border-box;
    display: block;
    flex: 0 0 auto;
    width: 96px;
    min-width: 96px;
    height: 36px;
    font: 500 13px Inter, Arial, sans-serif;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    background: #000;
    border: none;
    text-decoration: underline;
    margin-left: 2px;
}

.nav-tab__button-link {
    text-decoration: none;
}

@media (max-width: 780px) {
    .nav-tab {
        margin-bottom: 0;
    }
}

@media (max-width: 740px) {
    .nav-tab {
        margin-top: 0;
        gap: 6px;
    }

    .nav-tab__button {
        font-size: 10px;
        min-width: 86px;
        width: 100%;
    }
}

@media (max-width: 340px) {
    .nav-tab {
        gap: 0px;
    }
}